#################################################################################
## Ignore and exclude listed files and folders/directories or sub-directories. ##
#################################################################################

dist/assets/*
!dist/assets/css/
dist/docs/
dist/**.html
!dist/ii**

**MAC**
node_modules

src/img
src/fonts
src/favicon
src/video

src/html/*
!src/html/ii**


src/js/*
!src/js/user.js

src/partials/*
!src/partials/ii**

src/scss/*
!src/scss/**user**



