<!-- START OF THE NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top border-bottom pt-3 pb-3">
    <div class="container-fluid">

        <!-- NAVBAR-BRAND -->
        <a class="navbar-brand" href="{{webRoot}}/iiinc.html">
            <img src="../images/logo/logo_wt_txt_cropped.png" alt="logo" class="navbar-brand-im"
                style="width: 250px; height: 75px;">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="navbar-collapse collapse" id="navbarCollapse" style>
            <!-- Toggler -->
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>
            <!-- Navigation -->
            <ul class="nav navbar-nav ms-auto fw-light">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{webRoot}}/iiinc.html/#services" target="_top">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{webRoot}}/iiPricing-&-Insurance.html">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{webRoot}}/iiinc.html/#faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{webRoot}}/iiReviews.html">Portfolio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDocumentation navbarResources"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" href="#">
                        Resources
                    </a>
                    <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation"
                        aria-labelledby="navbarResources">
                        <div class="list-group list-group-flush">
                            <a href="{{webRoot}}/iiResources/iiMental.html" class="list-group-item dropdown-item p-3">

                                <!-- Icon -->
                                <div class="icon icon-sm text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-live-photo" width="44" height="44"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#402c91" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="12" cy="12" r="1" />
                                        <circle cx="12" cy="12" r="5" />
                                        <line x1="15.9" y1="20.11" x2="15.9" y2="20.12" />
                                        <line x1="19.04" y1="17.61" x2="19.04" y2="17.62" />
                                        <line x1="20.77" y1="14" x2="20.77" y2="14.01" />
                                        <line x1="20.77" y1="10" x2="20.77" y2="10.01" />
                                        <line x1="19.04" y1="6.39" x2="19.04" y2="6.4" />
                                        <line x1="15.9" y1="3.89" x2="15.9" y2="3.9" />
                                        <line x1="12" y1="3" x2="12" y2="3.01" />
                                        <line x1="8.1" y1="3.89" x2="8.1" y2="3.9" />
                                        <line x1="4.96" y1="6.39" x2="4.96" y2="6.4" />
                                        <line x1="3.23" y1="10" x2="3.23" y2="10.01" />
                                        <line x1="3.23" y1="14" x2="3.23" y2="14.01" />
                                        <line x1="4.96" y1="17.61" x2="4.96" y2="17.62" />
                                        <line x1="8.1" y1="20.11" x2="8.1" y2="20.12" />
                                        <line x1="12" y1="21" x2="12" y2="21.01" />
                                    </svg>
                                </div>

                                <!-- Content -->
                                <div class="ms-4">

                                    <!-- Heading -->
                                    <h6 class="fw-bold text-capitalise text-primary mb-0">
                                        Mental Health
                                    </h6>

                                    <!-- Text -->
                                    <p class="fs-sm text-muted text-gray-700 mb-0 fw-light">
                                        Mental health resources
                                    </p>
                                </div>
                            </a>
                            <a href="{{webRoot}}/iiResources/iiPhysical.html" class="list-group-item dropdown-item p-3">

                                <!-- Icon -->
                                <div class="icon icon-sm text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-run"
                                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#402c91"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="13" cy="4" r="1" />
                                        <path d="M4 17l5 1l.75 -1.5" />
                                        <path d="M15 21l0 -4l-4 -3l1 -6" />
                                        <path d="M7 12l0 -3l5 -1l3 3l3 1" />
                                    </svg>
                                </div>

                                <!-- Content -->
                                <div class="ms-4">

                                    <!-- Heading -->
                                    <h6 class="fw-bold text-capitalise text-primary mb-0">
                                        Physical Health
                                    </h6>

                                    <!-- Text -->
                                    <p class="fs-sm text-muted text-gray-700 mb-1 fw-light">
                                        Physical health resources
                                    </p>
                                </div>
                            </a>
                            <a href="{{webRoot}}/iiResources/iiTerms.html" class="list-group-item dropdown-item p-3">

                                <!-- Icon -->
                                <div class="icon icon-sm text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes"
                                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#402c91"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <rect x="5" y="3" width="14" height="18" rx="2" />
                                        <line x1="9" y1="7" x2="15" y2="7" />
                                        <line x1="9" y1="11" x2="15" y2="11" />
                                        <line x1="9" y1="15" x2="13" y2="15" />
                                    </svg>
                                </div>

                                <!-- Content -->
                                <div class="ms-4">

                                    <!-- Heading -->
                                    <h6 class="fw-bold text-capitalise text-primary mb-0">
                                        Terms
                                    </h6>

                                    <!-- Text -->
                                    <p class="fs-sm text-muted text-gray-700 mb-1 fw-light">
                                        Terms of Service
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{webRoot}}/iiContact-form.html">Contact Us</a>
                </li>
                <button type="button" class="rounded-pill btn-rounded">
                    <a href="tel:+1-860-650-0053" class="telephone text-center text-decoration-none text-gray">
                        +1 860 650 0053
                        <span>
                            <i class="fas fa-phone-alt"></i>
                        </span>
                    </a>
                </button>
            </ul>
        </div>
    </div>
</nav>